S3method(ncoef,SensorDataModel)
S3method(plot,DriftCommonModel)
S3method(plot,SensorDataModel)
S3method(plot,SplineBasis)
S3method(predict,DriftCommonModel)
S3method(predict,SensorDataModel)
S3method(predict,SplineBasis)
S3method(print,DriftCommonModel)
S3method(print,SensorDataModel)
S3method(print,SplineBasis)
export(ConcNoiseModel)
export(ConcUnitsNames)
export(ConcUnitsStr)
export(DriftCommonModel)
export(DriftModelNames)
export(DriftNoiseModel)
export(Scenario)
export(Sensor)
export(SensorArray)
export(SensorDataModel)
export(SensorDynamics)
export(SensorModel)
export(SensorModelNames)
export(SensorNoiseModel)
export(SorptionModel)
export(SplineBasis)
export(capturedVar)
export(capturedVarDir)
export(defaultConcUnits)
export(defaultConcUnitsInt)
export(defaultConcUnitsSorption)
export(defaultDataDistr)
export(defaultDataDriftNoiseModel)
export(defaultDataModel)
export(defaultDataPackage)
export(defaultDataSensorModel)
export(defaultDataSensorNoiseModel)
export(defaultDataSorptionModel)
export(defaultParConcNoiseModel)
export(defaultParDriftNoiseModel)
export(defaultParScenario)
export(defaultParSensorArray)
export(defaultParSensorDynamics)
export(defaultParSensorModel)
export(defaultSensorNoiseModel)
export(defaultSorptionModel)
export(devClassHierarchy)
export(devClassParam)
export(devClassSlots)
export(devDefaults)
export(devReport)
export(fitSplineBasis)
export(getSplineDesign)
export(loadUNIMANdata)
export(plotScenario)
export(splineBasis)
export(subClasses)
exportClasses(ConcNoiseModel)
exportClasses(DriftCommonModel)
exportClasses(DriftNoiseModel)
exportClasses(Scenario)
exportClasses(SensorArray)
exportClasses(SensorDataModel)
exportClasses(SensorDynamics)
exportClasses(SensorModel)
exportClasses(SensorNoiseModel)
exportClasses(SorptionModel)
exportClasses(SplineBasis)
exportMethods("add<-")
exportMethods("concUnits<-")
exportMethods("csd<-")
exportMethods("dsd<-")
exportMethods("enableDyn<-")
exportMethods("nsd<-")
exportMethods("ssd<-")
exportMethods(affinity)
exportMethods(alpha)
exportMethods(beta)
exportMethods(ccol)
exportMethods(cmatrix)
exportMethods(coef)
exportMethods(coefSample)
exportMethods(coeffNonneg)
exportMethods(coefficients)
exportMethods(coefnames)
exportMethods(conc2col)
exportMethods(conc2df)
exportMethods(conc2gcol)
exportMethods(conc2glab)
exportMethods(conc2lab)
exportMethods(conc2tpoint)
exportMethods(concDenorm)
exportMethods(concMax)
exportMethods(concMin)
exportMethods(concModel)
exportMethods(concNorm)
exportMethods(concSample)
exportMethods(concSampleDyn)
exportMethods(concUnits)
exportMethods(concUnitsInt)
exportMethods(concUnitsSorption)
exportMethods(csd)
exportMethods(dsd)
exportMethods(dspace)
exportMethods(enableDyn)
exportMethods(enableSorption)
exportMethods(gases)
exportMethods(gcol)
exportMethods(getConc)
exportMethods(gind)
exportMethods(gnames)
exportMethods(idx)
exportMethods(knum)
exportMethods(knumStr)
exportMethods(lab2df)
exportMethods(label2df)
exportMethods(logf)
exportMethods(mapcol)
exportMethods(modelName)
exportMethods(ncoef)
exportMethods(nconst)
exportMethods(ndcomp)
exportMethods(ndvar)
exportMethods(ngases)
exportMethods(noisef)
exportMethods(nsamples)
exportMethods(nsensors)
exportMethods(num)
exportMethods(numStr)
exportMethods(plotAffinity)
exportMethods(plotAffinityMap)
exportMethods(plotAffinitySpace)
exportMethods(plotAffinitySpaceOld)
exportMethods(plotMixture)
exportMethods(plotPCA)
exportMethods(plotPolar)
exportMethods(plotPolarGases)
exportMethods(plotResponse)
exportMethods(plotSignal)
exportMethods(plotTimeline)
exportMethods(predict)
exportMethods(print)
exportMethods(scaledNoiseSd)
exportMethods(scol)
exportMethods(sdata.frame)
exportMethods(sdata2pulse)
exportMethods(sdataModel)
exportMethods(sdataSample)
exportMethods(set2lab)
exportMethods(show)
exportMethods(ssd)
exportMethods(tconst)
exportMethods(trange)
exportMethods(tunit)
exportMethods(type)
import(graphics)
import(methods)
