export(capturedVar)
export(capturedVarDir)
exportClasses(ConcNoiseModel)
exportClasses(DriftCommonModel)
exportClasses(DriftNoiseModel)
exportClasses(Sensor)
exportClasses(SensorArray)
exportClasses(SensorArrayModel)
exportClasses(SensorDataModel)
exportClasses(SensorModel)
exportClasses(SensorNoiseModel)
exportClasses(SorptionModel)
export(ConcNoiseModel)
export(ConcUnitsNames)
export(ConcUnitsStr)
export(defaultConcUnits)
export(defaultConcUnitsInt)
export(defaultConcUnitsSorption)
export(defaultDataDriftNoiseModel)
export(defaultDataModel)
export(defaultDataPackage)
export(defaultDataSensorModel)
export(defaultDataSensorNoiseModel)
export(defaultDataSorptionModel)
export(defaultParConcNoiseModel)
export(defaultParDriftNoiseModel)
export(defaultParSensor)
export(defaultParSensorArray)
export(defaultParSensorArrayModel)
export(defaultParSensorModel)
export(defaultSensorNoiseModel)
export(defaultSorptionModel)
export(devClassHierarchy)
export(devClassParam)
export(devClassSlots)
export(devDefaults)
export(devReport)
export(DriftCommonModel)
export(DriftModelNames)
export(DriftNoiseModel)
exportMethods(affinity)
exportMethods(ccol)
exportMethods(coef)
exportMethods(coefficients)
exportMethods(coeffNonneg)
exportMethods(coefnames)
exportMethods(coefSample)
exportMethods(concDenorm)
exportMethods(concMax)
exportMethods(concMin)
exportMethods(concModel)
exportMethods(concNorm)
exportMethods(concSample)
exportMethods("concUnits<-")
exportMethods(concUnits)
exportMethods(concUnitsInt)
exportMethods(concUnitsSorption)
exportMethods("csd<-")
exportMethods(csd)
exportMethods("dsd<-")
exportMethods(dsd)
exportMethods(dspace)
exportMethods(enableSorption)
exportMethods(gases)
exportMethods(gcol)
exportMethods(gind)
exportMethods(gnames)
exportMethods(idx)
exportMethods(knum)
exportMethods(logf)
exportMethods(mapcol)
exportMethods(modelName)
exportMethods(ncoef)
exportMethods(ndcomp)
exportMethods(ndvar)
exportMethods(ngases)
exportMethods(noisef)
exportMethods("nsd<-")
exportMethods(nsensors)
exportMethods(num)
exportMethods(plotAffinity)
exportMethods(plotAffinitySpace)
exportMethods(plotResponse)
exportMethods(predict)
exportMethods(print)
exportMethods(scaledNoiseSd)
exportMethods(sdataModel)
exportMethods(sdataSample)
exportMethods(show)
exportMethods("ssd<-")
exportMethods(ssd)
exportMethods(type)
export(Sensor)
export(SensorArray)
export(SensorArrayModel)
export(SensorDataModel)
export(SensorModel)
export(SensorModelNames)
export(SensorNoiseModel)
export(SorptionModel)
export(subClasses)
import(graphics)
import(methods)
S3method(plot,DriftCommonModel)
S3method(plot,SensorDataModel)
S3method(predict,DriftCommonModel)
S3method(predict,SensorDataModel)
S3method(print,DriftCommonModel)
S3method(print,SensorDataModel)
